
.navbar {
    display: flex;
    flex:1;
    height: 100%;
    width:100%;
}
nav {
    align-items: center;
    display: flex;
    justify-content: center;
}
nav a {
    text-decoration: none;
    flex:1;
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
}
.header h1 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: #f9faf8;
}
.flex {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
}
.box1 { 
    display: flex;
    align-items: center;
}
.picdiv {
    display:flex;
    justify-content: center;
    position:sticky;
}
.pic {
    flex:auto;
    border:#6e1919 solid 5px;
    border-radius: 10%;
    width: 300px;

}
.mugtypes {
    display:flex;
    flex:1;
}
.navbar, footer, .box1 {
    background-color: #1f2937;
}
img {
    max-width:40%;
}
footer {
    position: static;
    display: flex;
    margin-bottom: 0;
    ;
}
footer p {
    align-items: center;
    
}
body {
    margin:0
}
.header, .nav {
    flex:1;
}
.picdiv, .flex {
    height: 100%;
    width: 100%;
}
.flex h1 {
    color:#e5e7eb;
    font-size: 48px;
    font-weight: 800;
}
.flex p {
    font-size: 18px;
    color: #e5e7eb;
    flex-wrap: wrap;
    display: inline-flex;
    align-self: last baseline;
    flex-wrap: wrap;
    margin-left: 20px;

}
.flex button{
    width: 200px;
    border-color: purple;
    border: 0;
    border-radius: 0;
    color: purple;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;
    
}
.flex button:hover { 
    background-color: #fff;
}
&:after {
    width: 110%
}