
.navbar {
    display: flex;
    flex:1;
    height: 100%;
    width:100%;
}
nav {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
nav a {
    text-decoration: none;
    flex:1;
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
}
.header h1 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: #f9faf8;
}
.flex {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: last baseline;
}
.box1 { 
    display: flex;
    align-items: center;
    margin:auto;
    padding-left: 100px;
    padding-bottom: 50px;
}
.picdiv {
    display:flex;
    justify-content: center;
    position:sticky;
}
.pic {
    flex:auto;
    border:#e3e4e6 solid 2px;
    border-radius: 10%;
    width: auto;
    height: auto;

}
.mugtypes {
    display:flex;
    flex:1;
}
.navbar, footer, .box1 {
    background-color: #1f2937;
}
img {
    max-width:60%;
}
footer {
    position: static;
    display: flex;
    margin-bottom: 0;
    ;
}
footer p {
    align-items: center;
    
}
body {
    margin:0
}
.header, .nav {
    flex:1;
}
.picdiv, .flex {
    height: 100%;
    width: 100%;
}
.flex h1 {
    color:#e5e7eb;
    font-size: 48px;
    font-weight: 800;
}
.flex p {
    font-size: 18px;
    color: #e5e7eb;
    flex-wrap: wrap;
    display: inline-flex;
    align-self: last baseline;
    flex-wrap: wrap;
    margin-left: 20px;

}
button {
    width: 130px;
    height: 60px;
    background-color: rgb(48, 121, 189);
    border-radius:10px ;
    color: rgb(243, 239, 243);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;
    font-size: 18px;
    
}
.flex button:hover { 
    background-color: #fff;
    color:rgb(48, 121, 189);
}
&:after {
    width: 110%
}
h3 {
    font-size: 36px;
    text-align: center;
}
.mugtype {
    justify-content: space-between;
    display: flex;
    padding: 40px;
}
.mugtype .img {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.mugtype img {
    border:rgb(48, 121, 189) solid 4px;
    border-radius: 10%;
}
.div3 {
    background-color: #e5e7eb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.div3 p {
    font-size: 36px;
    color: #1f2937;
}
.div3 author {
    justify-content: end;
    display:flex;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
}
.quote {
    display:flex;
    margin: 30px;
    padding: 30px;
    flex-direction: column;
    width: 60%;
    height: auto;
}
.blue {
    display:flex;
    justify-content: center;
    padding:40px;
    background-color: #3882f6 ;
}