.navbar {
    display: flex;
    flex:auto;
    justify-content: space-around;
}
.navbar h1 {
    align-self: flex-start;
}
.box1 {
    display: flex;
}
.mugtypes {
    display:flex;
    flex:1 1 auto;
    ;
}
.navbar, footer, .box1 {
    background-color: #1f2937;
}
img {
    max-width:50%;
    max-height: fit-content;
}
footer {
    position: static;
    display: flex;
    margin-bottom: 0;
    ;
}
footer p {
    align-items: center;
    
}
body {
    margin:0
}