.navbar {
    display: flex;
    flex:1;
    height: 100%;
    width:100%;
}
nav {
    align-items: center;
    display: flex;
    justify-content: center;
}
nav a {
    text-decoration: none;
    flex:1;
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
}
.header h1 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: #f9faf8;
}
.flex {
    display: flex;
    flex-direction: column;
    width: 500px;
}
.box1 { 
    display: flex;
    align-items: center;
}
.picdiv {
    display:flex;
    align-items: center;
}
.pic {
    flex:auto;

}
.mugtypes {
    display:flex;
    flex:1;
}
.navbar, footer, .box1 {
    background-color: #1f2937;
}
img {
    max-width:50%;
}
footer {
    position: static;
    display: flex;
    margin-bottom: 0;
    ;
}
footer p {
    align-items: center;
    
}
body {
    margin:0
}
.header, .nav {
    flex:1;
}
.picdiv, .flex {
    height: auto;
    width: auto;
}